// src/styles/globals.scss
@use './variables' as *;
@use './mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background: $light-bg;
  color: #333;
  line-height: 1.6;
}
main{
    margin-top: 10%;
}